@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Borders */

div {
  border: solid;
}

/* My Solution */


a {
  text-decoration-line: none;
  color: grey;
  font-weight: 550;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background-color: lightgrey;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.buttons button {
  font-weight: 300;
  font-size: 15px;
  padding: 5px;
}
